body {
    /* max-width: 70%; */
    margin: auto;
    /* margin-top: 3em; */
};

.time {
    float: right;
}

.question {
    font-weight: bold;
};

.answer {
    font-weight: lighter;
}

.card {
    margin: auto;
}

#submit, #start-btn, #refresh {
    display: block;
    margin: auto;
}

.jumbotron {
    background: #343a40;
}