body {
    margin: auto;
};

.time {
    float: right;
}

.question {
    font-weight: bold;
};

.answer {
    font-weight: lighter;
}

.card {
    margin: auto;
}

#submit, #start-btn, #refresh {
    display: block;
    margin: auto;
}

.jumbotron {
    background: #343a40;
}

#result-cards {
    justify-content: center;
    text-align: -webkit-center;
}

#header-0, #header-1, #header-2 {
    letter-spacing: .04em;
}

h2 {
    font-size: 6em;
}